# Byte-compiled / optimized / DLL files
**/__pycache__
**/.ipynb_checkpoints
*.py[cod]

*.gpw
**/doctrees
**/scratch
**/build
**/xharpy_output
**/.vscode
xharpy.egg-info/*

# Temporary file of gpaw_mpi
step1.py
step1_values.pic
core.py
core_values.pic
core_r_values.pic
step2.py
step2_values.pic
f0j.pic
xharpy.log

# Files of qe
pp.in 
pp.out 
pw.in 
pw.out
tmp.pp
pw_atomic.in 
pp_atomic.in
density.cube
density.xsf

xanthos.py